{% extends 'base.html' %}
{% block content %}
    <nav aria-label="breadcrumb" style="margin-top:2%">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myForum:homepage' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'myForum:subsection_list' section=section %}">{{ section }}</a></li>
            <li class="breadcrumb-item"><a
                    href="{% url 'myForum:posts_list' section=section subsection=subsection %}">{{ subsection }}</a>
            </li>
            <li class="breadcrumb-item"><a
                    href="{% url 'myForum:comments_list' subsection=subsection post=post %}">{{ post }}</a></li>
        </ol>
    </nav>
    <form method="post" action="{% url 'myForum:createcomment' subsection=subsection post=post %}">
        {% csrf_token %}
        {{ form.media }}
        {{ form.content }}
        <br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{% endblock %}